{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Новий пост{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Заголовок</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Текст</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <input type="submit" value="Зберегти">
  </form>
  <a class="back-link" href="{{ url_for('blog.index') }}">Назад</a>
{% endblock %} 