<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Головна</a>
        {% if g.user %}
            <a href="{{ url_for('blog.create') }}">Створити пост</a>
            <a href="{{ url_for('auth.logout') }}">Вийти</a>
        {% else %}
            <a href="{{ url_for('auth.register') }}">Реєстрація</a>
            <a href="{{ url_for('auth.login') }}">Увійти</a>
        {% endif %}
    </nav>
    
    {% block content %}
    {% endblock %}
</body>
</html> 